

@{
    ViewBag.Title = "error";
}

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="~/scripts/css/divs.css" />
    <title>Railway System</title>


</head>
<body>



    <div class="top">Railway Reservation System </div>

    <div class="work">
        <form>
            <br><br>
            
            <label style="font-size:2em; margin-left:20px;"> @ViewBag.demo </label>
            <br><br>
            <ul style="font-size:2em; color:black;">

                <li> <a style="color:black;" href="/home/reserve"> Click to go back to reservation menu </a> </li>

            </ul>

        </form>
    </div>

    <div class="side"> <img src="~/Images/as.jpg" height=100% width=100% /> </div>

    <div class="bottom"> </div>

</body>
</html>


