
@{
    ViewBag.Title = "updated";
}

<!DOCTYPE html>

<html>
<head>
    <title>updated</title>
</head>
<body>
    <h1>Just to chk working</h1>
   <h1>@Convert.ToString(Session["check"])</h1>
</body>
</html>
